/* Navbar styles */
.nav {
    grid-area: nav;
    padding: 30px
}

.nav ul {
    list-style-type: none;
}

.nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

.linkActive{
    color: gold;
}


@media (max-width: 600px) {
    .nav {
        margin: 0 auto;
    }

    .nav ul{
        display: inline-block;
        justify-content: space-between;
    }
}